<div id="profile-wrapper">

    <%= render 'users/navigation' %>

    <div id="profile-info">

        <div class="profile-title"><h1>Unos podataka za fizičko lice</h1><hr id="profile-hr" /></div>

        <div id="create-fl-form-wrapper" class="form-wrapper">

            <%= render 'physical_entities/form' %>

        </div>

    </div>

</div>