<div id="profile-wrapper">

  <%= render 'users/navigation' %>

  <div id="profile-info">

    <div class="profile-title"><h1>Izmjena podataka za pravno lice</h1><hr id="profile-hr" /></div>

    <div id="edit-pl-form-wrapper" class="form-wrapper">

      <%= render 'form' %>

    </div>

  </div>

</div>