<div id="profile-wrapper">

    <%= render 'users/navigation' %>

    <div id="profile-info">

        <div class="profile-title"><h1>Promjena korisniÄkih podataka</h1><hr id="profile-hr" /></div>

        <div id="edit-user-form-wrapper" class="form-wrapper" style="width: 100%">
            <%= render 'users/form' %>
        </div>

    </div>

</div>
