<div id="actions-wrapper">

  <table class="table table2" id="">
    <tr>
      <th><i class="fa fa-search">&nbsp;&nbsp;</i>Subjekat pretrage</th>
    </tr>
    <tr>
      <td>
        <div class="cell" id="">
          <input type="radio" name="subjekat" checked="checked" value="pravna_lica"><label>Pravna lica</label>
        </div>
        <div class="cell" id="">
          <input type="radio" name="subjekat" value="fizicka_lica"><label>Fizička lica</label>
        </div>
      </td>
    </tr>
  </table>

  <table class="table table2" id="search-parameter">
    <tr>
      <th><i class="fa fa-search">&nbsp;&nbsp;</i>Parametar pretrage</th>
    </tr>
    <tr>
      <td>
        <div class="full-cell" id="">
          <input type="checkbox" name="param" value="drzava"><label>Država</label>
        </div>
        <div class="full-cell" id="">
          <input type="checkbox" name="param" value="grad"><label>Grad</label>
        </div>
        <div class="full-cell" id="">
          <input type="checkbox" name="param" value="postanski_broj"><label>Poštanski broj</label>
        </div>
      </td>
    </tr>
  </table>

  <table class="table table2" id="search-parameter">
    <tr>
      <th><i class="fa fa-sort-alpha-asc">&nbsp;&nbsp;</i>Sortiranje po nazivu/prezimenu</th>
    </tr>
    <tr>
      <td>
        <div class="full-cell" id="">
          <input type="radio" name="sortA-Z" checked="checked" value="asc"><label>Rastući redoslijed</label>
        </div>
        <div class="full-cell" id="">
          <input type="radio" name="sortA-Z" value="desc"><label>Opadajući redoslijed</label>
        </div>
      </td>
    </tr>
  </table>


</div>