<div id="filters-area">

    <button id="trigger"><i class="fa fa-chevron-down"></i>&nbsp;Filtriranje po početnom slovu</button>
    <br />

    <div id="filters">
        <section id="abc-section">
            <nav id="abc-nav">
                <ul>
                    <li><a href="#" id="a">A</a></li>
                    <li><a href="#" id="b">B</a></li>
                    <li><a href="#" id="c">C</a></li>
                    <li><a href="#" id="č">Č</a></li>
                    <li><a href="#" id="ć">Ć</a></li>
                    <li><a href="#" id="d">D</a></li>
                    <li><a href="#" id="dž">Dž</a></li>
                    <li><a href="#" id="đ">Đ</a></li>
                    <li><a href="#" id="e">E</a></li>
                    <li><a href="#" id="f">F</a></li>
                    <li><a href="#" id="g">G</a></li>
                    <li><a href="#" id="h">H</a></li>
                    <li><a href="#" id="i">I</a></li>
                    <li><a href="#" id="j">J</a></li>
                    <li><a href="#" id="k">K</a></li>
                    <li><a href="#" id="l">L</a></li>
                    <li><a href="#" id="lj">Lj</a></li>
                    <li><a href="#" id="m">M</a></li>
                    <li><a href="#" id="n">N</a></li>
                    <li><a href="#" id="nj">Nj</a></li>
                    <li><a href="#" id="o">O</a></li>
                    <li><a href="#" id="p">P</a></li>
                    <li><a href="#" id="r">R</a></li>
                    <li><a href="#" id="s">S</a></li>
                    <li><a href="#" id="š">Š</a></li>
                    <li><a href="#" id="t">T</a></li>
                    <li><a href="#" id="u">U</a></li>
                    <li><a href="#" id="v">V</a></li>
                    <li><a href="#" id="z">Z</a></li>
                    <li><a href="#" id="ž">Ž</a></li>
                </ul>
            </nav>
        </section>
    </div>
</div>