<section id="search-section">

    <form id="search-form" method="GET">

        <div id="search-input-wrapper">
            <span class="form-icon"><i class="fa fa-search"></i></span>
            <input type="text" id="search" name="term" />
        </div>

        <div id="search-submit-wrapper">
            <input type="submit" id="btn-search" value="Pretraga" />
        </div>
    </form>

</section>