<div class="form-wrapper bigEntrance">

  <form id="login-form" action="<?php echo Helper::makeURL('/User/Login/'); ?>" method="POST">

    <div class="label-wrapper">
      <label>Korisničko ime</label>
    </div>
    <div class="input-wrapper">
      <span class="form-icon"><i class="fa fa-user"></i></span><input type="text" name="username" />
    </div>

    <div class="label-wrapper">
      <label>Lozinka</label>
    </div>
    <div class="input-wrapper">
      <span class="form-icon"><i class="fa fa-lock"></i></span><input type="password" id="password" name="password" />
    </div>

    <div class="label-wrapper">
      <label>Potvrda lozinke</label>
    </div>
    <div class="input-wrapper">
      <span class="form-icon"><i class="fa fa-lock"></i></span><input type="password" id="password_again" name="password_again" />
    </div>

    <div id="remember">
      <label>Zapamti me</label><input type="checkbox" name="remember-me" />
    </div>

    <div class="input-wrapper" id="login-submit-wrapper">
      <input type="submit" name="submit-login" id="submit-login" value="Prijavi se" />
    </div>

  </form>

</div>

<?php $this->renderPartial('_welcome.php'); ?>


