/* ========== SASS mixins ========== */
@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $color, $inset: ""){
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color #{$inset};
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color #{$inset};
  box-shadow: $h-shadow $v-shadow $blur $spread $color #{$inset};
}

@mixin transition($property, $duration, $timing-function, $delay){
  -webkit-transition: $property $duration $timing-function #{$delay};
  -moz-transition: $property $duration $timing-function #{$delay};
  -o-transition: $property $duration $timing-function #{$delay};
  transition: $property $duration $timing-function #{$delay};
}